section.add-athlete
  center(900px)
  margin 20px 0
  padding 0 20px
  
  .col-wrap
    cf()
  
  .img-upload
    span(1/9)
    
    a
      display block
      width 100px
      height @width
      box-sizing border-box
      padding 18px
      color #90a4ae
      background #cfd8dc
  
  .form-col
    span(4/9)
    
    fieldset
      margin-left 20px
      
      input[type='text']:focus, input[type='text'].valid, input[type='email']:focus, input[type='email'].valid
        color #607d8b
      
      input[type='email'].invalid
        color #F44336
      
      &.input-field
        margin-top 2px
        
        .select-wrapper
          margin 0 0 15px
  
  .details-add
    text-align right
    
    a
      margin-bottom 0
      
      &.gray
        background #90a4ae