header
  center(790px)
  padding 20px
  background #607d8b
  font-weight 300
  letter-spacing 0.05em
  
  h2
    margin-bottom 8px
    font-size 1.500em
    color white
    
  
  h3
    font-size 1.000em
    color #b0bec5