@import 'nib'
@import 'jeet'
@import url('http://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed:400,700')
//@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.95.3/css/materialize.min.css')

global-reset()
reset-html5()

html
  //edit()
  
  body
    font-family 'Roboto', sans-serif
    font-size 16px
    font-weight 400
    
    #page
      center(800px)
      background #eceff1

@import 'partials/header'
@import 'partials/add-athlete'
@import 'partials/roster-toolbar'
@import 'partials/athlete-card'