@import 'nib'
@import 'jeet'
@import url('http://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Condensed:400,700')
@import 'materialize/materialize.css'

global-reset()
reset-html5()

html
  //edit()
  
  body
    font-family 'Roboto', sans-serif
    font-size 16px
    font-weight 400
    
    #page
      center(940px)
      background #eceff1

@import 'partials/header'
@import 'partials/add-athlete'
@import 'partials/roster-toolbar'
@import 'partials/roster-list'

//circliful styles
.circliful {
    position: relative; 
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.circle-info, .circle-info-half {
  color: #999;
}

.circliful .fa {
  margin: -10px 3px 0 3px;
  position: relative;
  bottom: 4px;
}
